@media screen and (max-width:1920px) {
    #projekti{
        height: 700px;
    }
}
@media screen and (max-width:1216px) {
    header .home-text a h1{
        font-size: 40px;
    }
    header .home-text h2{
        font-size: 40px;
    }
    #skillz{
        height: 500px;
    }
    #skillz .skill p {
        font-size: 2.5rem;
    }
    #projekti{
        flex-direction: column;
        height: 900px;
    }
    #projekti .projekat{
        height: 20%;
    }
    

}
@media screen and (max-width:990px) {
    #o-meni{
        flex-direction: column-reverse;
    }
    #o-meni .slika{
        height:40%;
        width:25%;
    }
    #o-meni .tekst-drzac{
        height: 50%;
    }
    #o-meni .tekst-drzac h2{
        font-size:15px;
        padding:10px 0px;
    }
    #o-meni .tekst-drzac h3{
        font-size:15px;
        padding:7px 0px;
    }
    #o-meni .tekst-drzac p{
        font-size: 15px;
        font-weight: 500;
        padding:5px 0px;
    }
    #projekti .projekat .pill p{
        margin:10px 10px;
    }
}
@media screen and (max-width:940px) {
    .naslov1, .naslov2, .naslov3, .naslov4{
        font-size: 1rem;
    }
    #skillz{
        flex-direction: column;
    }
    #skillz .skill{
        height:30%;
        box-shadow: none;
    }
    #skillz .skill i{
        font-size: 3rem;
        padding:5px 0px;
    }
    #skillz .skill p{
        font-size: 1rem;
        padding: 10px 0px;
    }
    #projekti{
        height:800px;
    }
}
@media screen and (max-width:835px) {
    header #logo a h1{
        font-size:25px;
    }
    header nav ul li a{
        font-size:15px
    }

}
@media screen and (max-width:745px) {
    header #logo a h1{
        font-size: 20px;
    }
    header nav ul li a{
        font-size: 15px;
    }
    header .home-text h1{
        font-size: 25px;
    }
    header .home-text h2{
        font-size: 30px;
    }
    #projekti .projekat{
        height: 100%;
        width:350px
    }
    #projekti .projekat img{
        height:150px;
        width:100%;
    }
    header .home, nav{
        display: block;
        align-items: center;
        width: 100%;
        text-align: center;
    }
}
@media  screen and (max-width:699px) {
    header #logo a h1{
        font-size: 15px;
    }
    header nav ul li a{
        font-size: 10px;
    }
   
}
@media screen and (max-width:568px) {
    header .home-text h1{
        font-size: 15px;
    }
    header .home-text h2{
        font-size: 25x;
    }
    #o-meni .tekst-drzac{
        width: 60%;
    }
    #o-meni .slika{
        width:40%;
    }
    footer p{
        font-size: 15px;
    }
}
@media screen and (max-width:480px) {
        header .home-text h1{
            font-size: .1rem;
        }
        header .home-text h2{
            font-size: .8rem;
        }
}


@media screen and (max-width:390px) {
    header .home{
        border-bottom:2px solid white;
    }

    header .home-text{
        width:70%;
    }
    #o-meni .tekst-drzac{
        width: 80%;
    }
    #o-meni .slika{
        width:50%;
    }
    #projekti .projekat{
        height: 100%;
        width:350px
    }
    #projekti .projekat img{
        height:150px;
        width:100%;
    }
    #skillz .skill{
        width:70%;
    }
}
@media  screen and (max-width:370px) {
  
    #projekti .projekat{
        height: 100%;
        width:250px
    }
    #projekti .projekat img{
        height:130px;
        width:100%;
    }
    
}
@media screen and (max-width:336px) {
    #usluge form .brisanje{
        padding:10px 15px;
    }
    #usluge form .slanje{
        padding:10px 15px;
    }
}
@media  screen and (max-width:328px) {
    #usluge form .brisanje{
        padding:10px 15px;
    }
    #usluge form .slanje{
        padding:10px 15px;
    }
    footer p{
        font-size:10px;
    }
    #projekit .projekat .pill p{
        margin:5px 5px;
        padding:5px 5px;
    }
}