html {
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

header .home {
  width: 80%;
  margin: 0px auto;
  padding: 15px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.naslov1 {
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 20px 0px;
  background-color: #310596;
}
.naslov1 h2 {
  color: white;
}

.naslov2 {
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 20px 0px;
  background-color: #9021FB;
}
.naslov2 h2 {
  color: white;
}

.naslov3 {
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 20px 0px;
  background-color: #e6618b;
}
.naslov3 h2 {
  color: white;
}

.naslov4 {
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 20px 0px;
  background-color: #E69759;
}
.naslov4 h2 {
  color: white;
}

header .home-text a {
  text-decoration: none;
}

.outline {
  background-color: white;
  color: white;
  height: 3px;
  border: none;
}

header {
  width: 100%;
  height: 650px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/headerbg.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
header .home {
  border-bottom: 3px solid white;
}
header .home #logo a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
header .home #logo span {
  animation: blink-anim 1s steps(5, start) infinite;
}
@keyframes blink-anim {
  to {
    visibility: hidden;
  }
}
header .home nav ul {
  list-style: none;
}
header .home nav ul li {
  display: inline-block;
  padding: 10px 7px;
}
header .home nav ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
header .home-text {
  width: 40%;
  margin: 0px auto;
  text-align: center;
  margin-top: 150px;
}
header .home-text a h1 {
  color: white;
  text-transform: uppercase;
  font-size: 60px;
}
header .home-text h2 {
  color: white;
  font-size: 60px;
}

#o-meni {
  width: 100%;
  height: 600px;
  background-color: #310596;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#o-meni .tekst-drzac {
  width: 40%;
  height: 80%;
  background-color: #E6618B;
  align-items: center;
  color: white;
  border-radius: 40px 30% 40px 30%;
}
#o-meni .tekst-drzac h2 {
  font-weight: 800;
  text-align: center;
  width: 100%;
  padding: 15px 0px;
  text-decoration: underline;
}
#o-meni .tekst-drzac h3 {
  font-weight: 700;
  text-align: center;
  width: 100%;
  padding: 15px 0px;
  text-decoration: underline;
}
#o-meni .tekst-drzac p {
  width: 100%;
  font-weight: 600;
  padding: 10px 0px;
  text-align: center;
}
#o-meni .slika {
  width: 30%;
  height: 90%;
  box-shadow: 0 4px 8px 0 rgba(230, 97, 139, 0.7), 0 6px 20px 0 rgba(230, 97, 139, 0.7);
  border-radius: 10px;
}
#o-meni .slika img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

#skillz {
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;
  width: 100%;
  background-color: #9021FB;
}
#skillz .skill {
  width: 20%;
  height: 200px;
  align-items: center;
  border-radius: 10px;
  box-shadow: 4px 4px 8px 8px rgba(230, 97, 139, 0.7), 6px 6px 10px 10px rgba(230, 97, 139, 0.7);
}
#skillz .skill i {
  font-size: 5rem;
  text-align: center;
  width: 100%;
  padding: 10px 0px;
  color: white;
}
#skillz .skill p {
  font-size: 3rem;
  font-weight: 700;
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  color: white;
}
#skillz .skill:hover {
  transform: scale(1.07);
  transition-duration: 0.7s;
}

#projekti {
  height: 400px;
  width: 100%;
  background-color: #E6618B;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#projekti .projekat {
  width: 30%;
  height: 60%;
  border-radius: 10px;
}
#projekti .projekat img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
#projekti .projekat .pill {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#projekti .projekat .pill p {
  color: white;
  font-size: 15px;
  font-weight: 700;
  margin: 20px 20px;
  padding: 20px 20px;
  border: 2px solid #9021FB;
  border-radius: 50px;
}
#projekti .projekat:hover {
  transform: scale(1.07);
  transition-duration: 1s;
}

#usluge {
  height: 500px;
  width: 100%;
  background-color: #E69759;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#usluge form {
  height: 80%;
  width: 70%;
  text-align: center;
  color: white;
}
#usluge form .fImePrezime {
  height: 40px;
  width: 70%;
  margin: 10px 20px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid #9021FB;
}
#usluge form .fEmail {
  height: 40px;
  width: 70%;
  margin: 20px 20px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid #9021FB;
}
#usluge form h3 {
  font-weight: 900;
  font-size: 2rem;
}
#usluge form .tekstInfo {
  height: 100px;
  width: 70%;
  resize: none;
  border: 2px solid #9021FB;
  border-radius: 10px;
  text-align: center;
  margin-top: 10px;
}
#usluge form .brisanje {
  padding: 20px 25px;
  margin: 10px 10px;
  background-color: #9021FB;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 800;
}
#usluge form .slanje {
  padding: 20px 25px;
  margin: 10px 10px;
  background-color: #9021FB;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 800;
}
#usluge form .brisanje:hover {
  transform: scale(1.1);
  transition-duration: 0.7s;
}
#usluge form .slanje:hover {
  transform: scale(1.1);
  transition-duration: 0.7s;
}

footer {
  height: 150px;
  width: 100%;
  background-color: #9021FB;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
footer ul {
  list-style: none;
  align-items: center;
}
footer ul li {
  display: inline-block;
  padding: 10px 7px;
}
footer ul li a {
  text-decoration: none;
  font-size: 2rem;
  color: white;
}
footer ul li:hover {
  transform: scale(1.05);
  transition-duration: 0.7s;
}
footer p {
  color: white;
  font-size: 1.5rem;
}/*# sourceMappingURL=style.css.map */