header
{
    width: 100%;
    height: 650px;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../img/headerbg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    .home
    {
        @extend %nav-pos;
        border-bottom: 3px solid white;
        #logo
        {
            a
            {
                text-decoration: none;
                color:$text-boja;
                text-transform: uppercase;
            }
            span
            {
                animation: blink-anim 1s steps(5, start) infinite;
                .blink
                {
                    @keyframes blink-anim 
                    {
                        to
                        {
                            visibility: hidden;
                        }
                    }
                }
            }
        }
        nav
        {
            ul
            {
                list-style:none;
                li
                {
                    display: inline-block;
                    padding:10px 7px;
                    border-right: 2px solid white;
                    a
                    {
                        color:$text-boja;
                        text-decoration: none;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
    
    .home-text
    {
        width: 40%;
        margin: 0px auto;
        text-align: center;
        margin-top: 150px;
        a
        {
            @extend %dekor;
            h1
            {
                color:$text-boja;
                text-transform: uppercase;
                font-size: 60px;
            }
        }
        h2
        {
            color:$text-boja;
            font-size: 60px;
        }
    }
}
