%nav-pos
{
    width: 80%;
    margin: 0px auto;
    padding: 15px 0px;
    @include position();
}
%naslov1
{
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 20px 0px;
    background-color: #310596;
    h2
    {
        color:white;
    }
}
%naslov2
{
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 20px 0px;
    background-color: #9021FB;
    h2
    {
        color:white;
    }
}
%naslov3
{
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 20px 0px;
    background-color: #e6618b;
    h2
    {
        color:white;
    }
}
%naslov4
{
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 20px 0px;
    background-color: #E69759;
    h2
    {
        color:white;
    }
}
%dekor
{
    text-decoration: none;
}

